<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlyPets | Home</title>
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="/home.css" />

    <script>
        function closeModal() {
            document.querySelector('.alert').remove();
        }

        function likeHandler(user, post) {
            const getRating = async () => {
                var rating = await fetch('/like?' + new URLSearchParams({
                    username: user,
                    postId: post
                })).then((res) => res.json());
                document.getElementById("dislike"+post).innerText = rating[1];
                document.getElementById("like"+post).innerText = rating[0];

                document.getElementById("like"+post).style = "color: var(--link-hover)";
                document.getElementById("dislike"+post).style = "color: var(--link-color)";
            }
            getRating();
        }

        function dislikeHandler(user, post) {
            const getRating = async () => {
                var rating = await fetch('/dislike?' + new URLSearchParams({
                    username: user,
                    postId: post
                })).then((res) => res.json());
                document.getElementById("dislike"+post).innerText = rating[0];
                document.getElementById("like"+post).innerText = rating[1];

                document.getElementById("dislike"+post).style = "color: var(--link-hover)";
                document.getElementById("like"+post).style = "color: var(--link-color)";
            }
            getRating();
        }

        function deleteHandler(user, post) {
            const req = async () => await fetch('/delete?' + new URLSearchParams({
                username: user,
                postId: post
            })).then(() => window.location.href = '/');
            req();
        }

        function reportHandler(user, post) {
            const req = async () => await fetch('/report?' + new URLSearchParams({
                username: user,
                postId: post
            })).then(() => alert('Report submitted. If you think we\'ll need additional information to wewontcheckthisemailaddress@gofuckyourself.com'));
            req();
        }
    </script>
</head>
<body>

<nav>
    <span id="nav-left">
        <a href="/" id="logo">OnlyPets</a>
    </span>

    <span id="nav-right">
        <!-- Spring security changes view based on authorization and role. Here, I did it based on auth to change the
         view from Login and Sign Up to Logout based on auth. _csrf is important for Spring Security and this reactive
          th value allows the form to be submitted. Otherwise, spring will prevent the post request -->

        <a href="/login" sec:authorize="isAnonymous()">Log in</a>
        <a href="/register" sec:authorize="isAnonymous()">Sign up</a>

        <form action="/logout" method="POST" sec:authorize="isAuthenticated()">
            <input type="submit" value="Logout" />
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
        </form>

        <!-- Why is this here? You already have a button for it below. -Erin -->

        <form action="/dashboard" method="POST" sec:authorize="isAuthenticated()">
            <input type="submit" value="Dashboard" />
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
        </form>
    </span>
</nav>

<div class="alert alert-danger" role="alert" th:if="${error}">
    <span th:text="${error}" />
    <a onclick="closeModal()">Ok</a>
</div>
<form id="post" method="POST" action="/post" sec:authorize="isAuthenticated()" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Add a title to your post!" maxlength="75" />
    <input type="file" name="image" />
    <input type="submit" value="Post" />
    <input type="hidden" name="author" th:value="${#authentication.getPrincipal().getUsername()}" />
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
</form>

<a sec:authorize="hasAnyAuthority('ADMIN') or hasAnyAuthority('MOD')" href="/dashboard">Dashboard</a>

<section th:each="user : ${userService}">
    <div class="post" th:each="post : ${postList}">
        <h2>
            <span class="header">
                <span class="user">
                    <img class="avatar" th:src="${user.getUserByUsername(post.author).avatar}" />
                    <a th:text="${post.author}"></a>
                </span>
            </span>
            <a th:text="${post.title}"></a>
        </h2>

        <span class="body"><img th:src="${post.picture}" /></span>

        <span class="footer" th:each="rating : ${ratingService}">
            <a class="fa fa-thumbs-down dislikes" th:text="${' ' + ratingService.getAllDislikesByPost(post).size()}"
               th:style="${'color: ' + ratingService.checkDislike(user.getUserByUsername(#authentication.getName()), post)}"
               th:data-user="${#authentication.getName()}"
               th:data-post="${post.getId()}"
               th:id="${'dislike' + post.getId()}"
               onclick="dislikeHandler(this.getAttribute('data-user'), this.getAttribute('data-post'))" sec:authorize="isAuthenticated()"></a>

            <a class="fa fa-thumbs-up likes" aria-hidden="true" th:text="${' ' + ratingService.getAllLikesByPost(post).size()}"
               th:style="${'color: ' + ratingService.checkLike(user.getUserByUsername(#authentication.getName()), post)}"
               th:data-user="${#authentication.getName()}"
               th:data-post="${post.getId()}"
               th:id="${'like' + post.getId()}"
               onclick="likeHandler(this.getAttribute('data-user'), this.getAttribute('data-post'))" sec:authorize="isAuthenticated()"></a>

            <a aria-hidden="true" th:text="${'Delete Post'}"
               th:data-user="${#authentication.getName()}"
               th:data-post="${post.getId()}"
               th:id="${'delete' + post.getId()}"
               onclick="deleteHandler(this.getAttribute('data-user'), this.getAttribute('data-post'))"
               sec:authorize="isAuthenticated()"
               th:if="${#authentication.getName() == post.getAuthor()}"></a>

            <a th:data-user="${#authentication.getName()}"
               th:data-post="${post.getId()}"
               th:id="${'report' + post.getId()}"
               onclick="reportHandler(this.getAttribute('data-user'), this.getAttribute('data-post'))"
               sec:authorize="isAuthenticated()">Report User</a>
        </span>
    </div>
</section>

</body>
</html>