<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyPets | Home</title>
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="/home-admin.css" />

</head>
<body>

<nav>
    <span id="nav-left">
        <a href="/" id="logo">OnlyPets</a>
    </span>

    <span id="nav-right">
        <!--Changed because I thought they both said sign up at first and got super confused lol I only realised when I
        saw it in the code, I think it's something to do with the font we have for the page-->
        <a href="/login">Log in</a>
        <a href="/register">Sign up</a>
    </span>
</nav>

<section>
    <div class="post">
        <h2>
            <span class="header">
                <span class="user">
                    <img class="avatar" src="/assets/avatars/andy.png" />
                    <a>AndyB</a>
                </span>
            </span>

            She's beauty and she's grace.
        </h2>
        <span class="body"><img src="/assets/pets/a1.jpg" /></span>

        <span class="footer">
            <a href="/register"><i class="fa fa-thumbs-down"></i> 0</a>
            <a href="/register"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 9999</a>
<!--            <a>Report User</a>-->
<!--            <a>Block User</a>-->
        </span>
    </div>

    <div class="post">
        <h2>
            <span class="header">
                <span class="user">
                    <img class="avatar" src="/assets/avatars/erin.png" />
                    <a>Erin</a>
                </span>
            </span>

            Oh pls, Nyx will eat you for brunch t(-_-t)
        </h2>

        <span class="body"><img src="/assets/pets/e2.jpg" /></span>

        <span class="footer">
            <a href="/register"><i class="fa fa-thumbs-down"></i> 0</a>

            <a href="/register"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 69420</a>

<!--            <a>Report User</a>-->
<!--            <a>Block User</a>-->
        </span>
    </div>

    <div class="post">
        <!--This is a post without a title-->
        <h2>
            <span class="user">
                <img class="avatar" src="/assets/avatars/duncan.jpg" />
                <a>DuncanWozTaken</a>
            </span>
        </h2>

        <span class="body"><img src="/assets/pets/d1.jpg" /></span>

        <span class="footer">
            <a href="/register"><i class="fa fa-thumbs-down"></i> 0</a>

            <a href="/register"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 12</a>

<!--            <a>Report User</a>-->
<!--            <a>Block User</a>-->
        </span>
    </div>

    <div class="post">
        <h2>
            <span class="header">
                <span class="user">
                    <img class="avatar" src="/assets/avatars/duncan.jpg" />
                    <a>DuncanWozTaken</a>
                </span>
            </span>

            Well, my dog can beat you up
        </h2>

        <span class="body"><img src="/assets/pets/d2.jpg" /></span>

        <span class="footer">
            <a href="/register"><i class="fa fa-thumbs-down"></i> 0</a>

            <a href="/register"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2</a>

<!--            <a>Report User</a>-->
<!--            <a>Block User</a>-->
        </span>
    </div>

    <div class="post">
        <h2>
            <span class="header">
                <span class="user">
                    <img class="avatar" src="/assets/avatars/erin.png" />
                    <a>Erin</a>
                </span>
            </span>
            Check out Muffin!
        </h2>

        <span class="body"><img src="/assets/pets/e1.jpg" /></span>

        <span class="footer">
            <a href="/register"><i class="fa fa-thumbs-down"></i> 0</a>

            <a href="/register"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 9001</a>

<!--            <a>Report User</a>-->
<!--            <a>Block User</a>-->
        </span>
    </div>
</section>

</body>
</html>