<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyPets | Login</title>
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script>
        window.onload = () => {
            const form = document.getElementById('form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                window.location.href = '/';
            })
        };
    </script>
</head>
<body>
<nav>
    <span id="nav-left">
        <a href="/" id="logo">OnlyPets</a>
    </span>

    <span id="nav-right">
        <a href="/login">Sign in</a>
    </span>
</nav>

<div class="container">

    <img class="avatar" src="/assets/icons/passdog.png" />
    <form id="form">
        <input type="text" placeholder="Your email address" required />

        <input type="submit" value="Send" />
    </form>

</div>
</body>
</html>