<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OnlyPets | Register</title>
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<nav>
    <span id="nav-left">
        <a href="/" id="logo">OnlyPets</a>
    </span>

    <span id="nav-right">
        <a href="/login">Login</a>
    </span>
</nav>
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}" />
<div class="container">
    <form id="form" action="/register" method="POST">
        <input type="text" name="email" placeholder="Email" th:value="${email}" required />
        <input type="text" name="username" placeholder="Username" th:value="${username}" required />
        <input type="password" name="password" placeholder="Password" th:value="${password}" required />
        <input type="hidden"                        6
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="submit" value="Register" />
    </form>
</div>
</body>
</html>